<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<head>
    <meta charset="utf-8">
    <title>스프링 부트 웹서비스</title>
</head>
<body>
    <h1>스프링 부트로 시작하는 웹 서비스 Ver.6</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록하기</a>

                <!--로그인이 되어있을떄 로그아웃 버튼-->
                <th:block th:if="${not #strings.isEmpty(userName)}" th:object = "${userName}">
                    Logged in as: <span id="user" th:text = "*{name}">test</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                </th:block>
                <!--로그인이 안되어있을때 로그인버튼-->
                <th:block th:if="${#strings.isEmpty(userName)}">
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                </th:block>
            </div>
        </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="post_item : ${posts}">
            <td th:text="${post_item.id}"></td>
            <td><a href="#" th:href="@{/posts/update/{id} (id=${post_item.id})}" th:text="${post_item.title}"></a></td>
            <td th:text="${post_item.author}"></td>
            <td th:text="${post_item.modifiedDate}"></td>
        </tr>
        </tbody>
    </table>
    </div>

    <div th:replace="fragments/footer :: footer" />
</body>

</html>
